*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-areas: 'a a a b b'
                         'a a a b b'
                         'c c d d d'
                         'c c e e e';

    height: 250px;
    gap: 5px;
    width: 45%;
    margin: auto;

}



.a{grid-area: a;
background-color: orangered;
}

.b{grid-area: b;
background-color: orange;
}

.c{grid-area: c;
background-color: green;
}

.d{grid-area: d;
background-color: lightblue;
}

.e{grid-area: e;
background-color: lightblue;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 12px 18px;
    color: white;
}

button{
    border-radius: 10px;
    border: none;
    background-color: blue;
    
}